.socials {
  display: flex;
  flex-flow: row nowrap;
}

.socials__icon {
  width: 25px;
  height: 25px;
  fill: $text-color;

  &:hover {
    fill: $links-color;
  }
}

.socials__item {
  margin-right: 30px;
}