.btn-more__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.btn-more {
  width: 600px;
  height: 60px;
  color: $links-color;
  border: solid 1px $links-color;

  &:hover {
    color: #fff;
    background-color: $links-color;
  }
}