// logo styles
.header__logo {
  width: 50%;
  min-width: 450px;

  @include tablets {
    width: 100%;
    min-width: 250px;
    
  }

}

.header__logo-img {
  fill: $links-color;

  @include tablets {
    padding-left: 7%;
  }
}