.header__links {
  padding-left: 200px;
}

.header__socials {
  display: flex;
  flex-flow: row nowrap;
}

.socials__icon {
  width: 25px;
  height: 25px;
  fill: $text-color;
}

.socials__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}