.header__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;

  // @include tablets {
  //   width: 50%;
  // }
}

.header__socials {
  display: flex;
  flex-flow: row nowrap;

  @include tablets {
    display: none;
  }
}

.socials__icon {
  width: 25px;
  height: 25px;
  fill: $text-color;
}

.socials__item {
  margin-right: 30px;

  // &:last-child {
  //   margin: 0;
  // }
}