.header__utility {
  display: flex;
  flex-flow: row nowrap;
}

.menu-icon,
.search-icon {
  width: 25px;
  height: 25px;
  fill: $text-color;
  cursor: pointer;

  &:hover {
    fill: $links-color;
  }
}

.menu-icon {
  margin-right: 30px;
}