.section {
  margin-bottom: 30px;
  border-bottom: solid 1px $line-color;
}

.section__title {
  color: $text-color;
  font-size: 27px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  border-left: solid 10px $links-color;
  margin-bottom: 60px;
  padding-left: 20px;

  &:hover {
    cursor: pointer;
  }
}