.short__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
  @include tablets {
    flex-flow: row wrap;
  }

  @include phones {
    flex-flow: column wrap;
  }
}