.slider-form__wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.slider__wrapper,
.form__wrapper {
  width: 533px;
  height: 535px;
  background-color: #f0f1f3;
  display: flex;
  align-items: center;
  justify-content: center;
}