.tag {
  color: $tag-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  padding: 0 20px;
  position: absolute;
  top: -15px;
  left: 0;
  background: url('~images/content/img-tag.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    cursor: pointer;
  }
}