include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Газета Светлогорского района Калининградской области "Вестник Светлогорска"
  body
    .wrapper
      .container
        section.section.welcome-section
          header.header
            .header__logo
              +image('content/logo.jpg', 'header__logo-img')
            .header__links
              - var icons = ["vk", "facebook", "odnoklassniki", "twitter", "insta"];
                ul.socials.header__socials
                  each item in icons
                    li.socials__item
                      a(href="#").socials__link
                        +icon(item, "socials__icon")
            .header__utility
              .burger-menu
                - var icons = ["menu"]
                  each item in icons
                    +icon(item, "menu-icon")
              .search
                - var icons = ["search"]
                  each item in icons
                    +icon(item, "search-icon")
          nav.nav-menu
            - var menu = [['Экономика', 'Власть', 'События', 'Ваше здоровье', 'Общество', 'Проишествия', 'Официально', 'Образование', 'Культура'], ['hero-section', 'about-section', 'values-section', 'works-section', 'reviews-section', 'feedback-section']];
              ul.nav-menu__list
                each item, index in menu[0]
                  li.nav-menu__item
                    a.nav-menu__link(href="#" + menu[1][index] v-scroll-to="'#" + menu[1][index] + "'") #{item}
        main.main
          section.section.top-news
            h1.section__title Главное
            .top-news__row
              +image("content/top-news.jpg", "top-news__img")
            .top-news__row
